<!DOCTYPE html>
<html>
<head>
    <title>Currency Monitoring</title>
    <link rel=StyleSheet href="../static/style.css" type="text/css" media=screen>
</head>
<body>
    <h1>Datos de Coin Market Cap</h1>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Volume_24h</th>
            <th>Percent_change_24h</th>
        </tr>
        <tr>
            <td>{{ data['data']['BNB']['symbol'] }}</td>
            <td>{{ data['data']['BNB']['quote']['USD']['price'] }}</td>
            <td>{{ data['data']['BNB']['quote']['USD']['volume_24h'] }}</td>
            <td>{{ data['data']['BNB']['quote']['USD']['percent_change_24h'] }}</td>
        </tr>
        <tr>
            <td>{{ data['data']['BTC']['symbol'] }}</td>
            <td>{{ data['data']['BTC']['quote']['USD']['price'] }}</td>
            <td>{{ data['data']['BTC']['quote']['USD']['volume_24h'] }}</td>
            <td>{{ data['data']['BTC']['quote']['USD']['percent_change_24h'] }}</td>
        </tr>
        <tr>
            <td>{{ data['data']['ETH']['symbol'] }}</td>
            <td>{{ data['data']['ETH']['quote']['USD']['price'] }}</td>
            <td>{{ data['data']['ETH']['quote']['USD']['volume_24h'] }}</td>
            <td>{{ data['data']['ETH']['quote']['USD']['percent_change_24h'] }}</td>
        </tr>
        <tr>
            <td>{{ data['data']['USDT']['symbol'] }}</td>
            <td>{{ data['data']['USDT']['quote']['USD']['price'] }}</td>
            <td>{{ data['data']['USDT']['quote']['USD']['volume_24h'] }}</td>
            <td>{{ data['data']['USDT']['quote']['USD']['percent_change_24h'] }}</td>
        </tr>
      </table>
</body>